body {
    font-size: 15px;
    font-family: 'Courier New', Bold;
    margin: 0;
    line-height: 1.6;
}
* {
    box-sizing: border-box;
}

.main {
    background: url("../assets/img/backgroundnews.png") center no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
}

.container {
    border: solid 2px #4c4c4c;
    background-size: cover;
    background: #4c4c4c;
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    height: 125px;
}

.logo {
    position: fixed;
    top: 0;
    left: 35px;
    width: 150px;
}

.navigator {
    font-size: 48px;
    font-family: Impact;
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    display: inline-block;
    margin: 0 15px;
    margin-right: 10%;
    white-space: pre;
    float: right;
}
.navuse {
    font-size: 48px;
    font-family: Impact;
    color: white;
    text-decoration: underline;
    transition: color 0.3s linear;
    display: inline-block;
    margin: 0 15px;
    margin-right: 10%;
    white-space: pre;
    float: right;
}

.navuse:hover {
    color: #77b3d4;
}

.navigator:hover {
    color: #77b3d4;
}

.logo:hover {
    display: block;
    padding: 5px; 
    text-decoration: none;
    border-bottom: none; 
}

.newscontainer {
    display: block;
    border: solid 2px #4c4c4c;
    border-radius: 10%;
    background: #4c4c4c;
    position: absolute;
    top: 58%;
    width: 50%;
    height: 40%;
    left: 25%;
    opacity: 0.9;
    transition: opacity 0.4s linear;
}

.newscontainer:hover {
    opacity: 1;
}

.newscontainer2 {
    display: block;
    border: solid 2px #4c4c4c;
    border-radius: 10%;
    background: #4c4c4c;
    position: absolute;
    top: 15%;
    width: 50%;
    height: 40%;
    left: 25%;
    opacity: 0.9;
    transition: opacity 0.4s linear;
}

.newscontainer2:hover {
    opacity: 1;
}

.newstitle {
    font-size: 40px;
    font-family: Courier New;
    color: white;
}

.newstitleb {
    font-size: 40px;
    font-family: Courier New;
    color: #77b3d4;
}

.newstext {
    font-size: 15px;
    font-family: Courier New;
    color: white;
    margin-left: 3%;
}

