body {
    font-size: 0.5vw;
    font-family: 'Courier New', Bold;
    margin: 0;
    line-height: 1.6;
}
* {
    box-sizing: border-box;
}

.main {
    background: url("../assets/img/b1.png") center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
}

.container {
    border: solid 2px #4c4c4c;
    background-size: cover;
    background: #4c4c4c;
    position: fixed;
    margin: 0;
    top: 0;
    width: 100vw;
    height: 12vh;
    z-index: 1000;
}

.logo {
    position: fixed;
    top: 1.5vh;
    left: 2vw;
    height: 9vh;
    width: 10vw;
}

.navigator {
    font-size: 3vh;
    font-family: Impact;
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    display: inline-block;
    margin: 1% 0.1%;
    margin-right: 10%;
    white-space: pre;
    float: right;
}
.navuse {
    font-size: 3vh;
    font-family: Impact;
    color: white;
    text-decoration: underline;
    transition: color 0.3s linear;
    display: inline-block;
    margin: 1% 0.1%;
    margin-right: 10%;
    white-space: pre;
    float: right;
}

.navuse:hover {
    color: #77b3d4;
}

.navigator:hover {
    color: #77b3d4;
}


.logo:hover {
    display: block;
    padding: 5px; 
    text-decoration: none;
    border-bottom: none; 
}

.vkcontainer {
    display: block;
    border: solid 2px 0;
    border-radius: 20%;
    position: absolute;
    top: 30%;
    width: 20%;
    height: 30%;
    left: 6.25%;
    transition: padding 0.1s linear;
}

.vkimg {
    border-radius: 20%;
    width: 100%;
    height: 100%;
}


.vkcontainer:hover {
    padding: 2px;
}

.gmailcontainer {
    display: block;
    border: solid 2px 0;
    border-radius: 20%;
    position: absolute;
    top: 23%;
    width: 20%;
    height: 30%;
    left: 72%;
    transition: padding 0.1s linear;
}

.gmimg {
    border-radius: 20%;
    width: 100%;
    height: 100%;
}

.gmailcontainer:hover {
    padding: 2px;
}

.newstitleb {
    font-size: 40px;
    font-family: Courier New;
    color: #77b3d4;
}
